 :root {
    --height-and-width: 16;
 }


.container {
    display: inline-grid;
    grid-template-columns: repeat(var(--height-and-width, 16), 1fr);
    grid-template-rows: repeat(var(--height-and-width, 16), 1fr);
}

.grid-item {
    height: 20vh;
    width: 20vw;
}

.grid-hover-change {
    background-color: black;
}